/*  вторичный цвет текста #212121 */
/* основной цвет текста #757575 */
/* синий цвет акцент #219 */
/* белый цвет #FFFFFF */
/* черный цвет для WebStudio #000000 */
/* основной цвет фона #E5E5E5 */
/* вторичный цвет фона #2F303A */
/* filter button color #F5F4FA */


/* main styles */

/* Header style */
.hdr {
background-color:     #FFFFFF;
border-bottom: 1px solid #ECECEC;
}

.hdr__container {
    display: flex;
    align-items: center;
}

/* Navigation style */
.navigation {
    display: flex;
    align-items: center;
}
/* Logo style */
.navigation__company-name {
    color: #2196F3;
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
text-decoration: none;
margin-right: 93px;
}
.navigation__company-name--black {
    color: #000000;
}
.navigation__link {
    font-family: inherit;
    color: #212121;
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
transition: color 250ms var(--cubic);
padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
}
.navigation__link:hover, 
.navigation__link:focus {
    color: #2196F3;
}
.navigation__link .navigation__link--current::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background: #2196F3;
border-radius: 2px;
bottom: 0;
left: 0;
}
.navigation__list {
    display: flex;
    align-items: center;
}
.navigation__item {
    margin-right: 50px;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}
.navigation__item:last-child {
    margin-right: 0;
}
/* Contact list style */
.contacts {
    margin-left: auto;
    display: flex;
    align-items: center;
    
}
.contacts__link {
    font-family: inherit;
   color: #757575; 
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    transition: color 250ms var(--cubic);
}
.contacts__link:hover,
.contacts__link:focus {
   color: #2196F3; 
}
.contacts__mail {
    margin-right: 50px;
}
.contacts__icons {
    fill: currentColor;
    margin-right: 10px;
}
/* Hero style */
.hero {
    max-width: 1600px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(
        to right,
        rgba(0,0,0,0.2),
         rgba(47, 48, 58, 0.4)
    ),
        url(../images/hero-background/hero_bckgrnd.jpeg);
padding: 200px 0;
}
.hero__container-heading {
    color: #FFFFFF;
font-weight: 900;
font-size: 44px;
line-height: 1.4;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
width: 700px;
margin-bottom: 35px;
 margin-right: auto;
  margin-left: auto;
}
.hero-btn {
width: 200px;
height: 50px;
color: #FFFFFF;
background-color: #2196F3;
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.8;
display: block;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
cursor: pointer;
 margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms var(--cubic);
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: #188CE8;
}
/* Modal window styles */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    opacity: 1;
    visibility: visible;
    transition: opacity 1000ms ease-out, visibility 1000ms ease-out ;
}
.backdrop.is-hidden {
opacity: 0;
pointer-events: none;
visibility: hidden;
}
.modal {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
 width: 528px;
 padding: 40px;
background-color: var(--white-color);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
transform: translate(-50%, -50%) scale(1);
opacity: 1;
transition: transform 1000ms ease-out, opacity 1000ms ease-out ;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.4);
    opacity: 0;

}
.modal-button {
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #FFFFFF;
border: 1px solid rgba(0, 0, 0, 0.1);
width: 30px;
height: 30px;
display: flex;
align-items: center;
justify-content: center;
padding: 0;
}
.modal-button__icons {
    fill: var(--black-color);
    transition: fill 250ms var(--cubic);
}
.modal-button:hover .modal-button__icons,
.modal-button:focus .modal-button__icons {
    fill: #2196F3;
}
.modal-title {
    display: block;
    width: 448px;
height: 23px;
font-weight: 700;
font-size: 20px;
line-height: 23px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 12px;
}
.modal-form__label {
    display: block;
        position: relative;
    margin-bottom: 10px;
}
.modal-form__caption {
    display: block;
    height: 14px;
font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;
color: #757575;
margin-bottom: 4px;
}
.modal-form__input {
    width: 100%;
    height: 40px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
padding: 12px 12px 12px 42px;
transition: border 250ms var(--cubic);
}
.modal-form__input:hover,
.modal-form__input:focus {
    border: 1px solid var(--accent) ;
}
.modal-form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    fill: #212121;
    transition: fill 250ms var(--cubic);
}
.modal-form__input:hover+.modal-form__icon,
.modal-form__input:focus+.modal-form__icon {
    fill: var(--accent)
}
.modal-form__label-textarea {
        display: block;
margin-bottom: 20px;
}
.modal-form__textarea {
    border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
resize: none;
width: 100%;
height: 120px;
padding: 12px 16px;
transition: border 250ms var(--cubic);
}
.modal-form__textarea:hover,
.modal-form__textarea:focus {
    border: 1px solid var(--accent)
}
.modal-form__textarea::placeholder {
font-weight: 400;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);
}
.modal-form__policy-desc {
    font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
}
.modal-form__policy-desc--bluelink {
color: #2196F3;
}
.modal-form__submit-btn {
    display: block;
margin-top: 30px;
margin-left: auto;
margin-right: auto;
padding: 10px 55px;
width: 200px;
height: 50px;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: #2196F3;
font-weight: 700;
font-size: 16px;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
cursor: pointer;
}
.modal-form__submit-btn:hover,
.modal-form__submit-btn:focus {
background-color: #188CE8;
}
/* Custom checkbox style */
.modal-form__custom-checkbox {
    width: 16px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 2px solid #212121;
    outline-offset: -2px;
    border-radius: 2px;
    margin-right: 10px;
    transition: background-color 250ms var(--cubic), outline 250ms var(--cubic);
}
.modal-form__custom-checkbox-icon {
 opacity: 0;
     fill: var(--white-color);
    transition: opacity 250ms var(--cubic);
}
.modal-form__checkbox:checked+.modal-form__custom-checkbox {
outline: 2px solid #2196F3;
background-color: var(--accent);
}
.modal-form__checkbox:checked+.modal-form__custom-checkbox .modal-form__custom-checkbox-icon {
    opacity: 1;
}
.modal-form__label-checkbox {
    display: flex;
    align-items: center;
  justify-content: center;
}

/* Advantages style */
.advantages {
    background-color: var(--white-color);
}
.advantages-list {
    display: flex;
    align-items: center;
    justify-content: center;   
}
.advantages-list__heading {
    color: #212121;
font-weight: 700;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 10px;
}
.advantages-list__text {
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: #757575;
}
.advantages-list__item {
    margin-right: 30px;
    width: 270px;
}
.advantages-list__item:last-child{
    margin-right: 0;
}
.advantages-list__link {
       display: flex;
    align-items: center;
    justify-content: center;
    background: #F5F4FA;
border-radius: 4px;
width: 270px;
height: 120px;
margin-bottom: 30px;
}
/* Occupation styles */
.occupation {
    background-color:var(--white-color);
    padding-top: 0;
}
.occupation-container__heading {
    color: #212121;
font-weight: 700;
font-size: 36px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 50px;
}
.occupation__list {
    display: flex;
}
.occupation__list-img {
    width: 370px;
height: 294px;
}
.occupation__list-item {
    margin-right: 30px;
    position: relative;
    height: 294px;
}
.occupation__list-item:last-child{
    margin-right: 0;
}
.occupation .occupation__list-item::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    bottom: 0;
    left: 0;
}
.occupation__list-title {
    color: var(--white-color);
    font-weight: 700;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
position: relative;
bottom: 42px;
    z-index: 1;

}
/* Members styles */
.member {
    background-color: #F5F4FA;
}
.member-container__heading {
    color: #212121;
font-weight: 700;
font-size: 36px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 50px;
}
.member__group {
    padding-top: 30px ;
    padding-bottom: 30px ;
}
.member__group-title {
        color: #212121;
font-weight: 500;
font-size: 16px;
line-height: 1.1;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 10px;
}
.member__group-position {
font-size: 16px;
line-height: 1.1;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
margin-bottom: 16px;
}
.member__list {
    display: flex;
}
.member__list-item {
    background-color: #FFFFFF;
        margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

}
.member__list-item:last-child{
    margin-right: 0;
}
/* Socials icons for members */
.socials {
    display: flex;
    justify-content: center;
    align-items: center;
}
.socials__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #FFFFFF;
    transition: background-color 250ms var(--cubic);

}
.socials__link:hover,
 .socials__link:focus {
    background-color: #2196F3;
}
.socials__item:not(:last-child) {
    margin-right: 10px;
}
.socials__icons {
    fill: #AFB1B8;
    transition: fill 250ms var(--cubic);

}
.socials__link:hover .socials__icons,
.socials__link:focus .socials__icons {
    fill: #FFFFFF;
}
/* Clients section styles */
.clients-container__heading {
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 50px;
}
.clients__list {
display: flex;
    align-items: center;
    justify-content: center;    
}
.clients__list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #AFB1B8;
border-radius: 4px;
width: 170px;
height: 92px;

}
.clients__list-link:hover,
.clients__list-link:focus {
    border-color: #2196F3;
}
.clients__list-item:not(:last-child) {
    margin-right: 30px;
}

.clients__list-icon {
    fill: #AFB1B8;
    transition: fill 250ms var(--cubic);

}
.clients__list-link:hover .clients__list-icon,
 .clients__list-link:focus .clients__list-icon{
    fill: #2196F3;
}
/* Footer styles */
.ftr {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}
.navigation__company-name--white {
    color: #FFFFFF;
}
.adrs {
    color: #FFFFFF;
    font-family: 'Roboto';
font-style: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
margin-top: 20px;
}
.link.adrs-link {
font-family: inherit;
font-style: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
transition: color 250ms var(--cubic);

}
.link.adrs-link:hover, 
.link.adrs-link:focus {
    color: #2196F3;
}
.adrs-link {
    display: inline-block;
    margin-top: 9px;
}
.ftr-list {
    display: flex;
    align-items:baseline;
    justify-content:flex-start; 
}
.ftr-list__item:first-child {
    margin-right: 70px;
}
.ftr__socials {
    display: flex;
    justify-content: center;
    align-items: center;  
}
.ftr__socials-caption {
    font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;
}
.ftr__socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms var(--cubic);

}
.ftr__socials-link:hover,
 .ftr__socials-link:focus {
    background-color: #2196F3;
}
.ftr__socials-item:not(:last-child) {
    margin-right: 10px;
}
.ftr__socials-icons {
    fill: #FFFFFF;
}
/* Subscription form styles */
.ftr-subscription {
    margin-left: 93px;
}
.ftr-subscription__caption {
    display: inline-block;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;
}
.ftr-subscription__form {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ftr-subscription__form-input {
    width: 358px;
height: 50px;
padding: 15px 295px 15px 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
transition: border 250ms var(--cubic);
}
.ftr-subscription__form-input::placeholder {
    font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.ftr-subscription__form-input:hover,
.ftr-subscription__form-input:focus {
    border: 1px solid var(--accent);
}
 .ftr-subscription__form-button {
 display: flex;
align-items: center;
justify-content: center;
width: 200px;
height: 50px;
margin-left: 12px;
padding: 10px 28px;
background-color: var(--accent);
    border: var(--accent) ;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
transition: background-color 250ms var(--cubic);

}
.ftr-subscription__form-button-label {
font-weight: 700;
font-size: 16px;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--white-color);
}
.ftr-subscription__form-button:hover,
.ftr-subscription__form-button:focus {
background-color: #188CE8;
}
.ftr-subscription__form-button .ftr-subscription__form-icons {
    margin-left: 10px;
}

/* portfolio styles */

/* Filter style */

.filter__btn-list-btn {
    color: #212121 ;  
     font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
letter-spacing: 0.03em;
background-color: #F5F4FA;
border-radius: 4px;
cursor: pointer;
    border: transparent;
    padding: 6px 22px;
    transition: color 250ms var(--cubic), 
    background-color 250ms var(--cubic), 
    box-shadow 250ms var(--cubic);
}
.filter__btn-list-item {
    margin-right: 8px;
}
.filter__btn-list-item:last-child {
    margin-right: 0;
}
.filter__btn-list-btn:hover,
.filter__btn-list-btn:focus {
    color: #FFFFFF;
    background-color: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter__examples-list-name {
    color: #212121;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
margin-bottom: 4px;
}
.filter__examples-list-type {
font-size: 16px;
line-height: 1.8;
letter-spacing: 0.03em;
}
.filter__btn-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.filter__examples-list {
    display: flex;
    flex-wrap: wrap;
}
.filter__examples-list-item {
    margin-right: 30px;
        margin-bottom: 30px;
 background: #FFFFFF;
border: 1px solid #EEEEEE;
    width: 370px;
height: 404px;
transition: box-shadow 250ms var(--cubic);
}
.filter__examples-list-item:hover,
.filter__examples-list-item:focus {
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.filter__examples-list-item:nth-child(3n+3){
    margin-right: 0;
}
.filter__examples-list-group {
    padding: 20px 24px;
}

/* Overlay */
.filter__examples-list-overlay {
 position: relative;
overflow: hidden;
}
.filter__examples-list-overlay-text {
    position: absolute;
    top: 0;
    left: 0;
font-weight: 400;
font-size: 18px;
line-height: 28px;
letter-spacing: 0.03em;
color: #FFFFFF;
padding: 63px 24px;
background-color:rgba(33, 150, 243, 0.9);
opacity: 0;
transform: translateY(100%);
    transition: transform 250ms var(--cubic);
}
.filter__examples-list-overlay-portfolio:hover .filter__examples-list-overlay-text,
.filter__examples-list-overlay-portfolio:focus .filter__examples-list-overlay-text {
    opacity: 1;
transform: translateY(0);
}

